// --------------------------------------------------
// Breakpoints
// --------------------------------------------------
@function rem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

$gridMaxSize: 1440px;

$breakpoints: (
    // default: unquote("only all"),
    all: 99999px, //large
    lg: rem(1440px), //large
    md: rem(1024px), //medium
    burger: rem(1000px), //burger
    sm: rem(767px) //small
);

$unit-intervals: (
  'px': 1,
  'em': 0.01,
  'rem': 0.0625
);
