// --------------------------------------------------
// Z-index
// --------------------------------------------------

$zindex: (
  below: -1,
  default: 1,
  above: 2,
  header: 20,
  menu: 30,
  burger: 40
);
